<div class="menu btm" >
    <div class="btn-collapse" #btn (click)="toggle()">
        <span nz-icon [nzType]="'caret-'+icon" nzTheme="outline"></span>
    </div>
    <div class="box" #box>
        <form [formGroup]="formGroup">
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-md-2 col-3">
                        <label class="form-label ">{{'PRODUCT_NAME' | translate}}:</label>
                    </div>
                    <div class="col-md-7 col-9">
                        <input type="text" class="form-control" placeholder="product name" formControlName="productName">
                    </div>
                    <div class="col-md-1 col-2">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="col-md-2 col-3">
                        <label class="form-label ">{{'IMPORT' | translate}}:</label>
                    </div>
                    <div class="col-md-3 col-3">
                        <input type="number" class="form-control" formControlName="import">
                    </div>
                    <div class="col-md-1 col-3">
                        <label class="form-label ">{{'EXPORT' | translate}}:</label>
                    </div>
                    <div class="col-md-3 col-3">
                        <input type="number" class="form-control" formControlName="export">
                    </div>
                    <div class="col-md-1 col-2">
                        <label class="form-label ">{{'KG.' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn color-brown-milo mx-3" (click)="onSave()">{{'SAVE' | translate}}</button>
                    <button class="btn color-brown-milo mx-3" (click)="onReport()">{{'REPORT' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
