.menu{
    &.btm{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        transition: 1s ease-in;
    }
    .btn-collapse {
        z-index: 99;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: auto;
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--brown-bg);
        color: white;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        transform: translateY(-30%);
        &.show{
            transform: translateY(-550%);
        }
    }

   
    .box{
        border: 2px solid black;
        background-color: white;
        margin: auto;
        width: 80%;
        padding: 2rem;
        position: relative; 
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.5s ease;
        transform: translateY(100%);
        &.show{
            transform: translateY(0);
        }
    }
}
