<nav class="navbar navbar-expand-lg ">
    <div routerLink="/">
        <img src="assets/images/logo_nav.png" alt="logo_nav" srcset="">
    </div>
    <button class="btn navbar-toggler mx-3" type="button" (click)="onClickToggle()" style="font-size: 2rem;">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="d-flex position-relative justify-content-around w-50" id="nav" style="left:20vw">
            <div class="txt">
                <p class="mx-3" style="font-size: 16px;">{{'Order' | translate}}</p>
                <div class="line"></div>
                <div class="collapse">
                    <div style="padding: 0 1rem 1rem 1rem;">
                        <div class="txt" [routerLink]="['/products','order']">
                            <p class="mx-3" style="font-size: 16px;">{{'products' | translate}}</p>
                            <div class="line"></div>
                        </div>
                        <div class="txt" [routerLink]="['/products','bean']">
                            <p class="mx-3" style="font-size: 16px;">{{'GreenBean' | translate}}</p>
                            <div class="line"></div>
                        </div>
                        <div class="txt" [routerLink]="['/products','coffee']">
                            <p class="mx-3" style="font-size: 16px;">{{'Coffee' | translate}}</p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="txt">
                <p class="mx-3" style="font-size: 16px;">{{'report' | translate}}</p>
                <div class="line"></div>
            </div>
            <div class="txt">
                <p class="mx-3" style="font-size: 16px;">{{'Setting' | translate}}</p>
                <div class="line"></div>
                <div class="collapse" style="width: max-content;">
                    <div style="padding: 1rem;">
                        
                        <button class="btn color-brown" (click)="onSignOut()">
                            {{'Sign out' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>