<section class="d-flex justify-content-center" style="margin-top: 2rem;">
    <h2>{{getNameType}}</h2>
</section>
<section class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <p>SKU</p>
                </th>
                <th>
                    <p>{{'PRODUCT_NAME' | translate}}</p>
                </th>
                <th>
                    <p>{{'IMPORT' | translate}}</p>
                </th>
                <th>
                     <p>{{'EXPORT' | translate}}</p>
                </th>
                <th>
                     <p>{{'BALANCE' | translate}}</p>
                </th>
                <th>
                     <p>{{'DATE' | translate}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>test</p>
                </td>
                <td>
                    <p>test</p>
                </td>
                <td>
                    <p>test</p>
                </td>
                <td>
                    <p>test</p>
                </td>
                <td>
                    <p>test</p>
                </td>
                <td>
                    <p>test</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <app-menu-bottom></app-menu-bottom>
</section>